---
import Card from '../components/Card.astro';
import LavaLamp from '../components/LavaLamp.astro';
import LinkButton from '../components/LinkButton.astro';
import SectionPage from '../components/SectionPage.astro';
---

<SectionPage color="white" title="Nuestras Redes Sociales" idSection="section4">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-2 h-100 overflow-y-auto scrollbar-hidden shadow-2xl md:mt-8 lg:mt-12 xl:mt-20"
  >
    <div class={`sm:order-2`}>
      <Card
        descriptionMedia="Comunidad, Asociación Cultural Multidisciplinar."
        iconMedia="/svgs/instagram.svg"
        socialMediaName="instagram"
        urlMedia="https://www.instagram.com/lahoguerabadajoz"
      />
    </div>
    <div class={`sm:order-1`}>
      <Card
        descriptionMedia="Colectivo cultural multidisciplinar La Hoguera"
        iconMedia="/svgs/facebook.svg"
        socialMediaName="facebook"
        urlMedia="https://www.facebook.com/coolectivolahoguera/"
      />
    </div>
    <div class={`sm:order-3`}>
      <Card
        descriptionMedia="La Hoguera Badajoz"
        iconMedia="/svgs/youtube.svg"
        socialMediaName="youtube"
        urlMedia="https://www.youtube.com/channel/UCeV6jQGr_y1vWs_amOHbyvw"
      />
    </div>
  </div>

  <div slot="footer">
    <div class="flex justify-center gap-6 pt-8">
      <LinkButton
        buttonText="Siguiente seccion"
        classButtons="bg-gray-900 text-sm rounded font-medium inline-flex text-white px-16 py-1 items-center hover:bg-white hover:text-black transition-colors duration-300"
        idSection="#section5"
      />
    </div>
  </div>

  <div slot="background" class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      alt="Fondo de la página sobre nostros de la hoguera."
      class="h-full w-full object-cover object-center bg-image"
      src="/svgs/page2.svg"
      id="bg-image-hall-of-fame"
    />
  </div>

  <LavaLamp color="#2978A0" />
</SectionPage>

<style>
  .container-all {
    width: fit-content;
    margin: 20px auto;
    height: auto;
  }

  .container {
    width: calc(15% - 6px);
    overflow: hidden;
    height: fit-content;
    margin: 3px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  img {
    width: 100%;
    transition-duration: 0.3s;
    max-width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
    align-self: center;
  }

  .container:hover img {
    transform: scale(1.2);
    transition-duration: 0.3s;
    filter: grayscale(50%);
    opacity: 0.7;
  }

  .container:hover span {
    color: white;
    display: block;
    transition-duration: 0.3s;
  }

  @media only screen and (max-width: 900px) {
    .container {
      width: calc(50% - 6px);
    }
  }
  @media only screen and (max-width: 400px) {
    .container {
      width: 100%;
    }
  }
</style>
