---
import Logo from './Logo.astro';
---

<header
  id="landing-header"
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <div class="flex flex-grow basis-0">
    <a href="#section1" class="w-22 h-22 transform hover:scale-125 transition duration-300">
      <Logo />
    </a>
  </div>

  <nav class="text-[#F1C22E]">
    <ul
      class="flex [&>li>a]:transition-colors [&>li>a]:duration-500 text-sm [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#section1">Principal</a></li>
      <li><a href="#section2">La Hoguera</a></li>
    </ul>
  </nav>

  <nav
    class="text-[#F1C22E] flex [&>li>a]:transition-colors [&>li>a]:duration-500 flex-grow basis-0 justify-end"
  >
    <ul
      class="flex text-sm [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#">Info</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`
      absolute bg-[#F3764A]/20 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
    `}
  >
  </div>
</header>

<script>
  const listItem = document.querySelectorAll('#landing-header li');
  const menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener('mouseenter', () => {
      const { height, left, top, width } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty('--height', `${height}px`);
      menuBackDrop.style.setProperty('--left', `${left}px`);
      menuBackDrop.style.setProperty('--top', `${top}px`);
      menuBackDrop.style.setProperty('--width', `${width}px`);

      menuBackDrop.style.opacity = '1';
      menuBackDrop.style.visibility = 'visible';
    });

    item.addEventListener('mouseleave', () => {
      menuBackDrop.style.opacity = '0';
      menuBackDrop.style.visibility = 'hidden';
    });
  });
</script>

<script>
  const header = document.querySelector('#landing-header') as HTMLElement;

  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: 0.9,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute('data-header-color');
        // console.log({ color });
        header.style.color = color;
      }
    });
  }, observerOptions);

  const sections = document.querySelectorAll('.landing-section');

  sections.forEach((section) => observer.observe(section));
</script>

<script>
  const itemsNavbar = document.querySelectorAll('nav a');

  itemsNavbar.forEach((link) => {
    link.addEventListener('click', (ev) => {
      ev.preventDefault();

      const destinationSection = link.getAttribute('href');

      document
        .querySelector(destinationSection)
        .scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
  });
</script>
