---
const { buttonText, classButtons, idSection } = Astro.props;
---

<div>
  <a
    href={idSection}
    class={classButtons ||
      'border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm text-white rounded px-16 py-1 inline-block hover:bg-white hover:text-black transition-colors duration-300'}
  >
    {buttonText}
  </a>
</div>

<script>
  const itemsLinks = document.querySelectorAll('div a');

  console.log({ itemsLinks });

  itemsLinks.forEach((link) => {
    link.addEventListener('click', (ev) => {
      ev.preventDefault();

      const destinationSection = link.getAttribute('href');

      document
        .querySelector(destinationSection)
        .scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
  });
</script>
