---
import HamburgerSvg from './HamburgerSvg.astro';
import Logo from './Logo.astro';
---

<div class="flex flex-grow basis-0 logo logo-transition">
  <a href="#section1" class="w-22 h-22 transform hover:scale-125 transition duration-1000">
    <Logo />
  </a>
</div>

<nav>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16 pr-4">
      <div class="flex items-center">
        <div class="hidden sm:block sm:ml-6 text-[#F1C22E]">
          <ul
            class="flex space-x-4 [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:px-3 [&>li>a]:py-2"
          >
            <li><a href="#section1">Inicio</a></li>
            <li class="whitespace-nowrap"><a href="#section2">La Hoguera</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="flex sm:hidden">
        <button
          id="menuButton"
          type="button"
          class="text-gray-300 hover:text-white focus:outline-none focus:text-white px-1"
        >
          <HamburgerSvg />
        </button>
      </div>
    </div>
  </div>

  <div
    id="menu-backdrop"
    class={`
      absolute bg-[#F3764A]/20 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
    `}
  >
  </div>
</nav>

<script>
  const listItem = document.querySelectorAll('#landing-header li');
  const menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener('mouseenter', () => {
      const { height, left, top, width } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty('--height', `${height}px`);
      menuBackDrop.style.setProperty('--left', `${left}px`);
      menuBackDrop.style.setProperty('--top', `${top}px`);
      menuBackDrop.style.setProperty('--width', `${width}px`);

      menuBackDrop.style.opacity = '1';
      menuBackDrop.style.visibility = 'visible';
    });

    item.addEventListener('mouseleave', () => {
      menuBackDrop.style.opacity = '0';
      menuBackDrop.style.visibility = 'hidden';
    });
  });
</script>

<script>
  const itemsNavbar = document.querySelectorAll('nav a');

  itemsNavbar.forEach((link) => {
    link.addEventListener('click', (ev) => {
      ev.preventDefault();

      const destinationSection = link.getAttribute('href');

      document
        .querySelector(destinationSection)
        .scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
  });
</script>

<script>
  const menuButton = document.querySelector('#menuButton');
  const menu = document.querySelector('.hidden.sm\\:block.sm\\:ml-6');
  const logo = document.querySelector('.logo') as HTMLElement;

  menuButton.addEventListener('click', function () {
    menu.classList.toggle('hidden');

    if (menu.classList.contains('hidden')) {
      logo.classList.remove('logo-transition');
      logo.style.display = 'block';
    } else {
      logo.classList.add('logo-transition');
      logo.style.display = 'none';
    }
  });
</script>
